<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.blacketron.notey">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_notey_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_notey_launcher_round"
        android:supportsRtl="true"
        android:targetSdkVersion="28"
        android:theme="@style/AppTheme"
        android:versionCode="1">

        <activity
            android:name=".Controllers.Menu.AboutActivity"
            android:parentActivityName=".Controllers.NoteListActivity"/>
        <activity android:name=".Controllers.NoteListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controllers.NoteActivity"
            android:parentActivityName=".Controllers.NoteListActivity" />
    </application>

</manifest>